<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CheckedIn</title>
</head>
<body>
  <div id="app">
    <h1>CheckedIn</h1>
    
    <div class="guesthouse-list">
      <ul>
        <li v-for="(guesthouse, index) in guesthouses">
          <button v-on:click="getDetails(guesthouse.id)">{{ guesthouse.brand_name }}</button>
        </li>
      </ul>
    </div>

    <div class="guesthouse-details" hidden>
      <h2 id="guesthouse-name">{{ brand_name }}</h2>
      <div id="average-rating" v-if="average_rating">
        Média de avaliações: ★ {{ parseFloat(average_rating).toFixed(2) }}
      </div>
      <div id="description">{{ description }}</div>
      <div id="contact-info">Contato: {{ phone_number }} | {{ email }}</div>
      <div id="pet-policy" v-if="pet_policy">Aceita animais de estimação</div>
      <div id="payment-methods">Formas de pagamento: {{ payment_methods }}</div>
      <div id="guesthouse-policy">{{ guesthouse_policy }}</div>
      <div id="checkin-time">Horário de check-in: {{ checkin_time }}</div>
      <div id="checkout-time">Horário de check-out: {{ checkout_time }}</div>
      <div id="address">{{ address }}</div>

      <button v-on:click="getRooms(id)">Carregar quartos</button>
    </div>

    <div class="rooms" hidden>
      <ul>
        <li v-for="room in rooms">
          <h3 id="room-name">{{ room.name }}</h3>
          <div id="room-description">{{ room.description }}</div>
          <div id="room-daily-rate">Valor padrão da diária: {{ room.daily_rate }}</div>
          <div id="room-dimension">Área: {{ room.dimension }} m²</div>
          <div id="room-dimension">Capacidade máxima para {{ room.max_people }} pessoas</div>
          Adicionais: 
          <ul>
            <li v-for="feature in room.features">{{ feature }}</li>
          </ul>

          <button>Verificar disponibilidade</button>
        </li>
      </ul>
    </div>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js"></script>
</body>
</html>