<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CheckedIn</title>
</head>
<body>
  <div id="app">
    <h1>CheckedIn</h1>

    <input class="search"
           type="text"
          v-model="searchText"
          v-on:input="hideDetails"
          placeholder="Digite o nome de uma pousada">        
          
    <main hidden>
      <div class="search-message" v-if="searchResults.length <= 0">
        Nenhum resultado encontrado
      </div>

      <div class="guesthouse-list">
        <ul>
          <li v-for="guesthouse in searchResults">
            <button v-on:click="getDetails(guesthouse.id)">{{ guesthouse.brandName }}</button>
          </li>
        </ul>
      </div>

      <section class="guesthouse-details" :hidden="hideGuesthouseDetails">
        <h2 id="guesthouse-name">{{ brandName }}</h2>
        <div id="average-rating" v-if="averageRating">
          Média de avaliações: ★ {{ parseFloat(averageRating).toFixed(2) }}
        </div>
        <div id="description">{{ description }}</div>
        <div id="contact-info">Contato: {{ phoneNumber }} | {{ email }}</div>
        <div id="pet-policy" v-if="petPolicy">Aceita animais de estimação</div>
        <div id="payment-methods">Formas de pagamento: {{ paymentMethods }}</div>
        <div id="guesthouse-policy">{{ guesthousePolicy }}</div>
        <div id="checkin-time">Horário de check-in: {{ checkinTime }}</div>
        <div id="checkout-time">Horário de check-out: {{ checkoutTime }}</div>
        <div id="address">{{ address }}</div>
        <button v-on:click="getRooms(id)">Carregar quartos</button>
      </section>

      <section class="rooms" :hidden="hideRooms">
        <ul>
          <li v-for="room in rooms">
            <h3 id="room-name">{{ room.name }}</h3>
            <div id="room-description">{{ room.description }}</div>
            <div id="room-daily-rate">Valor padrão da diária: {{ room.dailyRate }}</div>
            <div id="room-dimension">Área: {{ room.dimension }} m²</div>
            <div id="room-dimension">Capacidade máxima para {{ room.maxPeople }} pessoas</div>
            Adicionais:
            <ul>
              <li v-for="feature in room.features">{{ feature }}</li>
            </ul>
            <form class="room-form">
              Verificar disponibilidade
              <div class="checkin-field">
                <label for="checkin">Check-in</label>
                <input type="date" id="checkin">
              </div>
              <div class="checkout-field">
                <label for="checkout">Check-out</label>
                <input type="date" id="checkout">
              </div>
              <div class="guest-count-field">
                <label for="checkout">Quantidade de hóspedes</label>
                <input type="number" id="guest-count" min="1">
              </div>

              <div>
                <small>
                  Antes de consultar, certifique-se de que as datas não são passadas,
                  que a data de check-out seja maior que a data de check-in,
                  e que a quantidade de hóspedes não ultrapasse a capacidade do quarto
                </small>
              </div>

              <button type="button" v-on:click="checkAvailability(room.id)">Consultar</button>
            </form>

            <div class="room-response">{{ roomResponse }}</div>

          </li>
        </ul>
      </section>
    </main>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js"></script>
</body>
</html>